<div class = "container text-center py-5">
    <h1 class="display-4">All Users showing for: <%=@user%></h1>
    </div>
    <div class = "containter text-center">
        <div class="row">
            <%User.all.each do |user|%>
            <%if user.username == @user%>
            <div class="col">
                <div class ="card">
                <div class="card-header">
                    <h4><a class="btn btn-lg btn-secondary" href="/exercises/<%=user.id%>"><%=user.username%></a></h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0 font-weight-normal">Total Exercises:
                    <small class="text-muted"><%=user.exercises.count%></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <br>
                        <li>Total Likes: <%=user.likes.count%></li>
                    </ul>
                </div>
            </div>
            <%end%>
            <%end%>
                            
            </div>
        </div>
    </div>
