 
<div class = "container text-center py-5">
    <h1 class="display-4"><%=@user.username%></h1>
    <p>Friends: <a class = "btn btn-sm btn-outline-secondary" href='/all_friends/<%=@user.id%>'><%=@user.friends.count%></a></p>
    <p>Popularity: <%=@user.likes.count%></p>
    <%if @user != current_user && !already_added?%>
    <h4><a class="btn btn-sm btn-dark" href="/friends/<%=@user.id%>">Add Friend</a></h4>
    <%end%>
    <p></p>
    <br>
    <%if @user == current_user%>
        <p class="lead">My Exercises</p>
    <%else%>
        <p class="lead">Exercises</p>
    <%end%>
    </div>
    <div class = "containter text-center">
        <div class="row">
            <%@user.exercises.each do |exercise|%>
            <div class="col">
                <div class ="card">
                <div class="card-header">
                    <h4><a class="btn btn-lg btn-secondary" href="/exercises/<%=exercise.id%>"><%=exercise.name%></a></h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0 font-weight-normal">Target Muscle/
                    <small class="text-muted"><%=exercise.muscle_group%></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><%=exercise.created_at.strftime("%m/%d/%Y")%></li>
                        <li><%=exercise.created_at.strftime("%I:%M %p")%></li>
                        <br>
                        <li><a href="/likes/<%=exercise.id%>"><img class="mt-4 mb-4" src="/images/thumbs.png" height="30" alt="logo"></a></li>
                        <li><%=exercise.likes.count%></li>
                    </ul>
                </div>
            </div>
            <%end%>                   
            </div>
        </div>
    </div>


