<h1>All Exercises showing for: <%=@muscle_group%></h1><br>
<ul>
<%Exercise.all.each do |exercise|%>
    <%if exercise.muscle_group == @muscle_group%>
    <li><a href="/exercises/<%=exercise.id%>"><%=exercise.name%></a><br>
    By: <a href="/users/<%=exercise.user.slug%>"><%=exercise.user.username%></a></li><br>
    <%end%>
<%end%>
</ul>