    <div class="text-center">
    <form style="max-width:480px;margin:auto" action="/exercises/<%=@exercise.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
        <h1>
        <h1>
        <h1>
        <h1>
        <h1 class="h3 mb-3 font weight normal">Edit Exercise</h1>

    <input type="text" name="name" class="form-control" value="<%=@exercise.name%>" required autofocus>
    <input type="text" name="muscle_group" value="<%=@exercise.muscle_group%>" class="form-control">
    <input type="text" name="reps" value="<%=@exercise.reps%>" class="form-control">
    <input type="text" name="sets" value="<%=@exercise.sets%>" class="form-control">
    <textarea name="description" class="form-control" value="<%=@exercise.description%>"><%=@exercise.description%></textarea>
    <div class="mt-3">
    <button class="btn btn-lg btn-secondary">Submit</button>
    </div>
    </form>
    <h1></h1>

    <form action="/exercises/<%=@exercise.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-lg btn-danger">Delete?</button>
    </form>