    <div class = "container text-center py-5">
    <h1 class="display-4">Feed</h1>
            <div class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Sort By
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/oldest">Oldest</a></li>
    <li><a class="dropdown-item" href="/newest">Newest</a></li>
    <li><a class="dropdown-item" href="/top">Top</a></li>
  </ul>
    </div>
    </div>
    <div class = "containter text-center">
        <div class="row">
            <%Exercise.order(:created_at).each do |exercise|%>
            <div class="col">
                <div class ="card">
                <div class="card-header">
                    <h4><a class="btn btn-lg btn-secondary mt-1" href="/exercises/<%=exercise.id%>"><%=exercise.name%></a></h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0 font-weight-normal">Target Muscle/
                    <small class="text-muted"><%=exercise.muscle_group%></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <br>
                        <li><%=exercise.created_at.strftime("%m/%d/%Y")%></li>
                        <li><%=exercise.created_at.strftime("%I:%M %p")%></li>
                        <br>
                        <li><a href="/likes/<%=exercise.id%>"><img class="mt-4 mb-4" src="images/thumbs.png" height="30" alt="logo"></a></li>
                        <li><%=exercise.likes.count%></li>
                    </ul>
                </div>
            </div>
            <%end%>             
            </div>
            
        </div>
    </div>