<h1>Your Exercise:</h1>
<h2><%=@exercise.name%></h2>
<h3>Muscle Group: <%=@exercise.muscle_group%></h3>
<h3>Sets: <%=@exercise.sets%></h3>
<h3>Reps: <%=@exercise.reps%></h3>
<h3>Description: <%=@exercise.description%></h3>




